In [266]:
import pandas as pd
import numpy as np

In [366]:
train_label = pd.read_csv('../data/train_label.csv', index_col=0) 
val_label = pd.read_csv('../data/val_label.csv', index_col=0).reset_index()
val_label['subject_id'] = val_label['subject_id'].astype('str')
val_label['subject_id'] = 'User' + val_label['subject_id']

In [367]:
train_cols = pd.read_csv('../data/df_to_predict_val1.csv', index_col=0)
train_cols = train_cols.rename(columns={'userId':'subject_id'})
train_cols = train_cols[['subject_id','date','caffeine_y_caffeinated drink','alcohol_y_0','alcohol_y_wine','caffeine_y_coffee','caffeine_y_0', 'e4Eda_min','e4Temp_max','pmEmotion_y','pmStress_y']]

val_cols = pd.read_csv('../data/음성_컬럼수_줄인_val.csv', index_col=0)
val_cols = val_cols[['subject_id','date','Nature Sounds', 'Environmental Sounds', 'Human Activity Sounds', 'Machine and Traffic Sounds', 'Alert and Alarm Sounds', 'Music and Instrument Sounds', 'Other']]
val_cols['subject_id'] = val_cols['subject_id'].astype(str)
val_cols['subject_id'] = 'User' + val_cols['subject_id'] 

test_cols = pd.read_csv('../data/음성_컬럼수_줄인_test.csv', index_col=0)
test_cols = test_cols[['subject_id','date','Nature Sounds', 'Environmental Sounds', 'Human Activity Sounds', 'Machine and Traffic Sounds', 'Alert and Alarm Sounds', 'Music and Instrument Sounds', 'Other']]
test_cols['subject_id'] = test_cols['subject_id'].astype(str)
test_cols['subject_id'] = 'User' + test_cols['subject_id']

# gps 불포함 데이터
train 314 val 105 test 115

In [368]:
to_predict_val1 = pd.read_csv('../data/df_to_predict_val1.csv', index_col=0)
to_predict_test1 = pd.read_csv('../data/df_to_predict_test1.csv', index_col=0)
to_predict_train1 = pd.read_csv('../data/df_to_predict_train1.csv', index_col=0)

### val&test 컬럼 예측

In [369]:
from pycaret.datasets import get_data

In [370]:
categorical_pred_list = ['caffeine_y_caffeinated drink', 'alcohol_y_0', 'alcohol_y_wine', 'caffeine_y_coffee', 'caffeine_y_0', 'pmEmotion_y', 'pmStress_y']
numerical_pred_list = ['e4Eda_min', 'e4Temp_max']

##### val 예측

In [371]:
train = to_predict_val1.dropna(axis=0) #314행
test = to_predict_val1[to_predict_val1.isna().any(axis=1)] #105행

display(train.shape, test.shape)

(314, 29)

(105, 29)

In [372]:
from pycaret.classification import *
for i in range(0,len(categorical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[categorical_pred_list[i]]
    x_train = train1.drop(labels=categorical_pred_list, axis=1) 
    
    y_test = test1[categorical_pred_list[i]]
    x_test = test1.drop(labels=categorical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=categorical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models(sort='Accuracy')
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[categorical_pred_list[i]] = predictions.prediction_label

In [373]:
from pycaret.regression import *
for i in range(0,len(numerical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[numerical_pred_list[i]]
    x_train = train1.drop(labels=numerical_pred_list, axis=1) 
    
    y_test = test1[numerical_pred_list[i]]
    x_test = test1.drop(labels=numerical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=numerical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[numerical_pred_list[i]] = predictions.prediction_label

In [374]:
test = test.rename(columns={'userId':'subject_id'})
test = pd.merge(test, val_cols, on=['subject_id','date'])
test = pd.merge(test, val_label, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,Alert and Alarm Sounds,Music and Instrument Sounds,Other,Q1,Q2,Q3,S1,S2,S3,S4
0,2023-08-20,8,0,1,User1,1440,105,17,1153,0,...,2,113,45,1,1,1,0,0,0,0
1,2023-08-21,8,1,0,User1,1440,92,25,1061,0,...,3,61,48,1,1,1,0,0,1,0
2,2023-08-22,8,1,0,User1,1440,105,48,869,0,...,1,132,61,0,1,1,0,1,1,0
3,2023-08-23,8,1,0,User1,1440,133,51,963,0,...,5,128,51,0,1,1,0,0,1,0
4,2023-08-24,8,1,0,User1,1440,141,10,1069,0,...,2,100,45,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,2023-10-27,10,1,0,User4,1431,73,0,1336,1,...,1,27,45,0,1,0,0,1,1,1
101,2023-10-28,10,0,1,User4,1440,47,0,1385,0,...,2,122,48,1,1,0,1,1,1,1
102,2023-10-29,10,0,1,User4,1440,121,0,1303,0,...,3,37,52,1,1,0,0,1,1,1
103,2023-10-30,10,1,0,User4,1440,60,0,1369,0,...,2,28,65,0,1,0,0,0,1,1
104,2023-11-01,11,1,0,User4,1440,110,0,1314,0,...,5,51,77,1,1,0,0,1,1,1

In [375]:
test.to_csv('../data/val_final_v1.csv')

##### test 예측

In [376]:
train = to_predict_test1.dropna(axis=0) #314행
test = to_predict_test1[to_predict_test1.isna().any(axis=1)] #105행

display(train.shape, test.shape)

(314, 29)

(115, 29)

In [377]:
from pycaret.classification import *
for i in range(0,len(categorical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[categorical_pred_list[i]]
    x_train = train1.drop(labels=categorical_pred_list, axis=1) 
    
    y_test = test1[categorical_pred_list[i]]
    x_test = test1.drop(labels=categorical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=categorical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models(sort='Accuracy')
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[categorical_pred_list[i]] = predictions.prediction_label

In [378]:
from pycaret.regression import *
for i in range(0,len(numerical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[numerical_pred_list[i]]
    x_train = train1.drop(labels=numerical_pred_list, axis=1) 
    
    y_test = test1[numerical_pred_list[i]]
    x_test = test1.drop(labels=numerical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=numerical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[numerical_pred_list[i]] = predictions.prediction_label

In [379]:
test = test.rename(columns={'userId':'subject_id'})
test = pd.merge(test, test_cols, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,mAcc_max,mAcc_min,mAcc_std,Nature Sounds,Environmental Sounds,Human Activity Sounds,Machine and Traffic Sounds,Alert and Alarm Sounds,Music and Instrument Sounds,Other
0,2023-11-05,11,0,1,User5,1434,122,3,843,396,...,95.964407,0.023213,0.698846,160,106,276,37,8,64,52
1,2023-11-06,11,1,0,User5,1440,98,0,1279,0,...,76.107229,0.053643,0.749389,200,108,205,66,4,64,73
2,2023-11-07,11,1,0,User5,1440,64,0,1345,0,...,126.778495,0.029615,0.731316,197,96,278,35,9,35,70
3,2023-11-08,11,1,0,User5,1435,19,0,540,845,...,88.220726,0.031125,0.578272,180,108,240,51,0,91,46
4,2023-11-09,11,1,0,User5,1440,48,0,1379,0,...,100.005972,0.053160,0.514795,196,73,267,69,4,43,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2023-11-05,11,0,1,User8,1440,18,0,1418,0,...,106.572897,0.244744,0.489330,8,461,157,26,1,33,34
111,2023-11-06,11,1,0,User8,1432,86,0,1130,1,...,103.682283,0.131424,1.203481,33,374,190,55,2,37,13
112,2023-11-07,11,1,0,User8,1431,108,0,1288,0,...,92.053778,0.575628,0.681906,21,463,159,26,0,17,28
113,2023-11-08,11,1,0,User8,1437,9,0,1218,69,...,87.060951,0.303318,0.983404,10,401,263,10,0,12,19
114,2023-11-09,11,1,0,User8,1440,0,0,1347,0,...,92.467145,0.390245,0.574916,4,488,198,9,0,1,20

In [380]:
test.to_csv('../data/test_final_v1.csv')

### train 컬럼 예측

In [381]:
pred_list = ['Nature Sounds', 'Environmental Sounds', 'Human Activity Sounds',
       'Machine and Traffic Sounds', 'Alert and Alarm Sounds',
       'Music and Instrument Sounds', 'Other']

In [382]:
train = to_predict_train1.dropna(axis=0) #220행 = 105+115
test = to_predict_train1[to_predict_train1.isna().any(axis=1)] #314행

display(train.shape, test.shape)

(220, 27)

(314, 27)

In [383]:
from pycaret.regression import *
for i in range(0,len(pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[pred_list[i]]
    x_train = train1.drop(labels=pred_list, axis=1) 
    
    y_test = test1[pred_list[i]]
    x_test = test1.drop(labels=pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1).reset_index(drop=True), target=pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[pred_list[i]] = predictions.prediction_label

In [384]:
test = test.rename(columns={'userId':'subject_id'})
test = pd.merge(test, train_cols, on=['subject_id','date'])
test = pd.merge(test, train_label, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,e4Temp_max,pmEmotion_y,pmStress_y,Q1,Q2,Q3,S1,S2,S3,S4
0,2020-08-31,8,1,0,user01,779,101,0,523,127,...,35.07,4.0,3.0,0,0,0,0,1,1,1
1,2020-09-05,9,0,1,user01,698,40,0,530,77,...,35.11,4.0,4.0,1,0,1,1,1,0,1
2,2020-09-07,9,1,0,user01,731,41,0,589,54,...,35.50,4.0,4.0,1,0,1,1,1,1,1
3,2020-09-12,9,0,1,user01,414,15,0,323,59,...,35.25,4.0,4.0,0,0,1,0,0,1,1
4,2020-09-13,9,0,1,user01,658,84,0,489,52,...,35.39,4.0,4.0,0,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,2020-09-21,9,1,0,user30,836,5,0,762,32,...,35.49,3.0,3.0,0,0,1,0,1,0,0
310,2020-09-22,9,1,0,user30,757,6,0,650,59,...,35.16,3.0,3.0,0,0,1,0,1,1,1
311,2020-09-23,9,1,0,user30,841,9,1,733,54,...,35.61,3.0,3.0,0,0,1,0,1,1,0
312,2020-09-24,9,1,0,user30,755,4,1,663,47,...,35.31,3.0,3.0,1,0,1,0,1,1,1
313,2020-09-25,9,1,0,user30,668,9,0,570,49,...,35.50,3.0,3.0,0,0,1,0,1,1,0

In [385]:
test.to_csv('../data/train_final_v1.csv')

# gps 포함 데이터

In [402]:
to_predict_val2 = pd.read_csv('../data/df_to_predict_val2.csv', index_col=0)
to_predict_test2 = pd.read_csv('../data/df_to_predict_test2.csv', index_col=0)
to_predict_train2 = pd.read_csv('../data/df_to_predict_train2.csv', index_col=0)

### val & test 컬럼 예측

##### val 예측

In [408]:
train = to_predict_val2.dropna(axis=0) #288행
test = to_predict_val2[to_predict_val2.isna().any(axis=1)] #101행

display(train.shape, test.shape)

(288, 32)

(101, 32)

In [409]:
to_predict_val2

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,WALKING,RUNNING,caffeine_y_caffeinated drink,alcohol_y_0,alcohol_y_wine,caffeine_y_coffee,caffeine_y_0,e4Eda_min,e4Temp_max,pmEmotion_y,pmStress_y,Hr_average,Hr_max,Hr_min,Hr_std,mAcc_average,mAcc_max,mAcc_min,mAcc_std,gps_distance,max_distance,distance_ratio
0,2020-08-31,8,1,0,user01,779,101,0,523,127,0,0,0.0,1.0,0.0,1.0,0.0,0.016916,35.07,4.0,3.0,88.048321,118.98,61.63,8.985455,9.890882,111.525495,0.457250,1.357032,93.417040,104.800651,0.891378
1,2020-09-05,9,0,1,user01,698,40,0,530,77,0,0,0.0,0.0,0.0,1.0,0.0,0.001281,35.11,4.0,4.0,86.948462,160.87,57.43,13.987130,9.920032,68.971885,0.057910,1.564459,28.073488,104.800651,0.267875
2,2020-09-07,9,1,0,user01,731,41,0,589,54,0,0,0.0,1.0,0.0,1.0,0.0,0.001281,35.50,4.0,4.0,83.276502,165.08,54.07,12.863235,9.898526,77.797261,0.424273,1.277668,24.984973,104.800651,0.238405
3,2020-09-12,9,0,1,user01,414,15,0,323,59,0,0,0.0,1.0,0.0,0.0,1.0,0.001281,35.25,4.0,4.0,85.026952,133.08,55.53,13.203510,9.971321,85.082452,0.448292,1.219717,20.536303,104.800651,0.195956
4,2020-09-13,9,0,1,user01,658,84,0,489,52,0,0,0.0,1.0,0.0,0.0,1.0,0.001280,35.39,4.0,4.0,85.962022,143.28,55.02,13.591047,9.925301,80.154310,0.297016,1.277832,104.800651,104.800651,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2023-10-27,10,1,0,User4,1431,73,0,1336,1,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83.934150,137.00,62.00,12.875535,9.798069,80.680862,0.282069,0.398572,21.067014,225.699928,0.093341
97,2023-10-28,10,0,1,User4,1440,47,0,1385,0,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.346939,135.00,60.00,11.835901,9.842360,70.815633,0.236974,0.310147,14.722594,225.699928,0.065231
98,2023-10-29,10,0,1,User4,1440,121,0,1303,0,16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.784861,145.00,56.00,12.171161,9.841872,84.311013,0.598077,0.518713,31.145407,225.699928,0.137995
99,2023-10-30,10,1,0,User4,1440,60,0,1369,0,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.525661,148.00,59.00,11.992490,9.793543,68.829471,0.608869,0.342009,35.936848,225.699928,0.159224
100,2023-11-01,11,1,0,User4,1440,110,0,1314,0,16,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96.994065,187.00,65.00,32.719302,9.793940,82.698721,0.650124,0.419373,57.995254,225.699928,0.256957

In [410]:
from pycaret.classification import *
for i in range(0,len(categorical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[categorical_pred_list[i]]
    x_train = train1.drop(labels=categorical_pred_list, axis=1) 
    
    y_test = test1[categorical_pred_list[i]]
    x_test = test1.drop(labels=categorical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=categorical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models(sort='Accuracy')
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[categorical_pred_list[i]] = predictions.prediction_label

In [411]:
from pycaret.regression import *
for i in range(0,len(numerical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[numerical_pred_list[i]]
    x_train = train1.drop(labels=numerical_pred_list, axis=1) 
    
    y_test = test1[numerical_pred_list[i]]
    x_test = test1.drop(labels=numerical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=numerical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[numerical_pred_list[i]] = predictions.prediction_label

In [412]:
display(test.head(),val_cols.head(),val_label.head())

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,Hr_max,Hr_min,Hr_std,mAcc_average,mAcc_max,mAcc_min,mAcc_std,gps_distance,max_distance,distance_ratio
0,2023-08-20,8,0,1,User1,1440,105,17,1153,0,...,126.0,47.0,11.811378,9.892758,168.708665,0.136139,0.898369,12.728039,118.121587,0.107754
1,2023-08-21,8,1,0,User1,1440,92,25,1061,0,...,147.0,48.0,12.433426,9.992590,174.162067,0.054774,1.576221,10.879238,118.121587,0.092102
2,2023-08-22,8,1,0,User1,1440,105,48,869,0,...,120.0,37.0,11.689185,9.893863,161.544672,0.127270,0.956041,11.372360,118.121587,0.096277
3,2023-08-23,8,1,0,User1,1440,133,51,963,0,...,113.0,32.0,13.355582,9.932777,148.546601,0.023076,1.052149,18.676591,118.121587,0.158113
4,2023-08-24,8,1,0,User1,1440,141,10,1069,0,...,109.0,50.0,10.740390,9.897462,181.592017,0.058856,0.969007,7.164520,118.121587,0.060654

,subject_id,date,Nature Sounds,Environmental Sounds,Human Activity Sounds,Machine and Traffic Sounds,Alert and Alarm Sounds,Music and Instrument Sounds,Other
0,User1,2023-08-20,17,167,309,67,2,113,45
1,User1,2023-08-21,20,278,259,51,3,61,48
2,User1,2023-08-22,26,189,247,64,1,132,61
3,User1,2023-08-23,38,210,209,79,5,128,51
4,User1,2023-08-24,21,206,270,76,2,100,45

  subject_id        date  Q1  Q2  Q3  S1  S2  S3  S4
0      User1  2023-08-20   1   1   1   0   0   0   0
1      User1  2023-08-21   1   1   1   0   0   1   0
2      User1  2023-08-22   0   1   1   0   1   1   0
3      User1  2023-08-23   0   1   1   0   0   1   0
4      User1  2023-08-24   1   1   1   0   0   1   0

In [413]:
test = test.rename(columns={'userId':'subject_id'})
test = pd.merge(test, val_cols, on=['subject_id','date'])
test = pd.merge(test, val_label, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,Alert and Alarm Sounds,Music and Instrument Sounds,Other,Q1,Q2,Q3,S1,S2,S3,S4
0,2023-08-20,8,0,1,User1,1440,105,17,1153,0,...,2,113,45,1,1,1,0,0,0,0
1,2023-08-21,8,1,0,User1,1440,92,25,1061,0,...,3,61,48,1,1,1,0,0,1,0
2,2023-08-22,8,1,0,User1,1440,105,48,869,0,...,1,132,61,0,1,1,0,1,1,0
3,2023-08-23,8,1,0,User1,1440,133,51,963,0,...,5,128,51,0,1,1,0,0,1,0
4,2023-08-24,8,1,0,User1,1440,141,10,1069,0,...,2,100,45,1,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2023-10-27,10,1,0,User4,1431,73,0,1336,1,...,1,27,45,0,1,0,0,1,1,1
97,2023-10-28,10,0,1,User4,1440,47,0,1385,0,...,2,122,48,1,1,0,1,1,1,1
98,2023-10-29,10,0,1,User4,1440,121,0,1303,0,...,3,37,52,1,1,0,0,1,1,1
99,2023-10-30,10,1,0,User4,1440,60,0,1369,0,...,2,28,65,0,1,0,0,0,1,1
100,2023-11-01,11,1,0,User4,1440,110,0,1314,0,...,5,51,77,1,1,0,0,1,1,1

In [414]:
test.to_csv('../data/val_final_v2.csv')

##### test 예측

In [415]:
train = to_predict_test2.dropna(axis=0) #288행
test = to_predict_test2[to_predict_test2.isna().any(axis=1)] #113행

display(train.shape, test.shape)

(288, 32)

(115, 32)

In [416]:
from pycaret.classification import *
for i in range(0,len(categorical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[categorical_pred_list[i]]
    x_train = train1.drop(labels=categorical_pred_list, axis=1) 
    
    y_test = test1[categorical_pred_list[i]]
    x_test = test1.drop(labels=categorical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=categorical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models(sort='Accuracy')
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[categorical_pred_list[i]] = predictions.prediction_label

In [417]:
from pycaret.regression import *
for i in range(0,len(numerical_pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[numerical_pred_list[i]]
    x_train = train1.drop(labels=numerical_pred_list, axis=1) 
    
    y_test = test1[numerical_pred_list[i]]
    x_test = test1.drop(labels=numerical_pred_list, axis=1) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1), target=numerical_pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[numerical_pred_list[i]] = predictions.prediction_label

In [418]:
test.isnull().sum()

date                            0
month                           0
weekday                         0
weekend                         0
subject_id                      0
activity                        0
IN_VEHICLE                      0
ON_BICYCLE                      0
STILL                           0
UNKNOWN                         0
WALKING                         0
RUNNING                         0
caffeine_y_caffeinated drink    0
alcohol_y_0                     0
alcohol_y_wine                  0
caffeine_y_coffee               0
caffeine_y_0                    0
e4Eda_min                       0
e4Temp_max                      0
pmEmotion_y                     0
pmStress_y                      0
Hr_average                      0
Hr_max                          0
Hr_min                          0
Hr_std                          0
mAcc_average                    0
mAcc_max                        0
mAcc_min                        0
mAcc_std                        0
gps_distance                    2
max_distance                    2
distance_ratio                  2
dtype: int64

In [419]:
test = test.rename(columns={'userId':'subject_id'})
test = pd.merge(test, test_cols, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,gps_distance,max_distance,distance_ratio,Nature Sounds,Environmental Sounds,Human Activity Sounds,Machine and Traffic Sounds,Alert and Alarm Sounds,Music and Instrument Sounds,Other
0,2023-11-05,11,0,1,User5,1434,122,3,843,396,...,19.189911,23.507009,0.816349,160,106,276,37,8,64,52
1,2023-11-06,11,1,0,User5,1440,98,0,1279,0,...,23.507009,23.507009,1.000000,200,108,205,66,4,64,73
2,2023-11-07,11,1,0,User5,1440,64,0,1345,0,...,19.830692,23.507009,0.843608,197,96,278,35,9,35,70
3,2023-11-08,11,1,0,User5,1435,19,0,540,845,...,18.805130,23.507009,0.799980,180,108,240,51,0,91,46
4,2023-11-09,11,1,0,User5,1440,48,0,1379,0,...,21.914918,23.507009,0.932272,196,73,267,69,4,43,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,2023-11-05,11,0,1,User8,1440,18,0,1418,0,...,6.616197,338.004687,0.019574,8,461,157,26,1,33,34
111,2023-11-06,11,1,0,User8,1432,86,0,1130,1,...,58.828139,338.004687,0.174045,33,374,190,55,2,37,13
112,2023-11-07,11,1,0,User8,1431,108,0,1288,0,...,20.485850,338.004687,0.060608,21,463,159,26,0,17,28
113,2023-11-08,11,1,0,User8,1437,9,0,1218,69,...,13.449348,338.004687,0.039790,10,401,263,10,0,12,19
114,2023-11-09,11,1,0,User8,1440,0,0,1347,0,...,2.548167,338.004687,0.007539,4,488,198,9,0,1,20

In [420]:
test.to_csv('../data/test_final_v2.csv')

### train 컬럼 예측

In [428]:
train = to_predict_train2.dropna(axis=0) #214행
test = to_predict_train2[to_predict_train2.isna().any(axis=1)] #288행

display(train.shape, test.shape)

(214, 30)

(290, 30)

In [430]:
from pycaret.regression import *
for i in range(0,len(pred_list)):
    train1 = train.copy()
    test1 = test.copy()
    
    y_train = train1[pred_list[i]].reset_index(drop=True)
    x_train = train1.drop(labels=pred_list, axis=1) .reset_index(drop=True)
    
    y_test = test1[pred_list[i]].reset_index(drop=True)
    x_test = test1.drop(labels=pred_list, axis=1).reset_index(drop=True) 
       
    clf = setup(data=pd.concat([x_train, y_train], axis=1).reset_index(drop=True), target=pred_list[i], train_size = 0.9, normalize = True)
    best_model = compare_models()
    final_model = finalize_model(best_model)
    
    predictions = predict_model(final_model, data= x_test)
    test[pred_list[i]] = predictions.prediction_label

In [434]:
test = pd.merge(test, train_cols, on=['subject_id','date'])
test = pd.merge(test, train_label, on=['subject_id','date'])
test

,date,month,weekday,weekend,subject_id,activity,IN_VEHICLE,ON_BICYCLE,STILL,UNKNOWN,...,e4Temp_max,pmEmotion_y,pmStress_y,Q1,Q2,Q3,S1,S2,S3,S4
0,2020-08-31,8,1,0,user01,779,101,0,523,127,...,35.07,4.0,3.0,0,0,0,0,1,1,1
1,2020-09-05,9,0,1,user01,698,40,0,530,77,...,35.11,4.0,4.0,1,0,1,1,1,0,1
2,2020-09-07,9,1,0,user01,731,41,0,589,54,...,35.50,4.0,4.0,1,0,1,1,1,1,1
3,2020-09-12,9,0,1,user01,414,15,0,323,59,...,35.25,4.0,4.0,0,0,1,0,0,1,1
4,2020-09-13,9,0,1,user01,658,84,0,489,52,...,35.39,4.0,4.0,0,0,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,2020-09-21,9,1,0,user30,836,5,0,762,32,...,35.49,3.0,3.0,0,0,1,0,1,0,0
284,2020-09-22,9,1,0,user30,757,6,0,650,59,...,35.16,3.0,3.0,0,0,1,0,1,1,1
285,2020-09-23,9,1,0,user30,841,9,1,733,54,...,35.61,3.0,3.0,0,0,1,0,1,1,0
286,2020-09-24,9,1,0,user30,755,4,1,663,47,...,35.31,3.0,3.0,1,0,1,0,1,1,1
287,2020-09-25,9,1,0,user30,668,9,0,570,49,...,35.50,3.0,3.0,0,0,1,0,1,1,0

In [435]:
test.to_csv('../data/train_final_v2.csv')